<phpunit backupGlobals="false"
         bootstrap="bootstrap.php"
        timeoutForSmallTests="300"
        timeoutForMediumTests="300"
        timeoutForLargeTests="300"
	strict="true">

<!--         
	backupStaticAttributes="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
-->

    <testsuites>
        <testsuite name="ECash Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
